# LaTeX build file
*.bbl 
*.aux 
*.blg 
*.bcf 
*.blg 
*.log 
*.xml
*.fls
*.gz
*.fdb_latexmk
*.out
*.toc
*.glo
*.ist
*.acn
*.acr
*.alg
*.dvi
*.glg
*.gls
*.ilg
*.lot
*.lof

# Python build file
__pycache__/
*.pyc

src/results/chunk_entropies/chunk_entropies.csv